!!!
html
	head
		meta(charset='utf8')
		meta(name='description', content='demo for toggler')
		meta(name='author', content= "Sean Lang")

		title Toggler Demo
		
		link(rel='stylesheet', href='/css/toggler.css')
		link(rel='stylesheet', href='/css/demo.css')
	body
		input(type='checkbox')

	//- this must be included for live reload to work in developement
	//- it will be automatically ignored when deployed
	!= livereload
