html
	background-color #e4ded4
	background-image -webkit-linear-gradient(hsla(0,0%,0%,.1), hsla(0,0%,100%,.1))
	box-shadow inset 0 0 100px hsla(0,0%,0%,.1)

html, body
	margin 0
	height 100%

input
	display block
	margin-top 200px
	margin-left auto
	margin-right auto