toggle_height = 25px
toggle_width = toggle_height * 3
handle_width = toggle_height * 2

input[type="checkbox"]
	background-image linear-gradient(hsla(0,0,0,0.1), hsla(0,0,100%,0.1)), -webkit-linear-gradient(left, #f66 50%, #6cf 50%)
	background-size 100% 100%, 200% 100%
	border-radius 25px
	box-shadow inset 0 1px 4px hsla(0,0,0,0.5), inset 0 0 10px hsla(0,0,0,0.5), 0 0 0 1px hsla(0,0,0,0.1), 0 -1px 2px 2px hsla(0,0,0,0.25), 0 2px 2px 2px hsla(0,0,100%,0.75)
	cursor pointer
	height toggle_height
	width toggle_width
	text-size 30px
	-webkit-appearance none
	-webkit-transition 0.25s

	background-position 0 0, (handle_width * 0.5) 0
	padding-right toggle_width - handle_width

	&:checked
		background-position 0 0, (toggle_width - handle_width * 0.5) 0
		padding-left toggle_width - handle_width
		padding-right 0

	&:after
		background-color #eee
		background-image linear-gradient(hsla(0,0,100%,0.1), hsla(0,0,0,0.1))
		border-radius 25px
		box-shadow inset 0 1px 1px 1px hsla(0,0,100%,1), inset 0 -1px 1px 1px hsla(0,0,0,0.25), 0 1px 3px 1px hsla(0,0,0,0.5), 0 0 2px hsla(0,0,0,0.25)
		content ''
		text-align right
		display block
		height toggle_height
		left 0
		top 0
		width handle_width
